/* **************** base **************** */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
}

/* **************** start header section **************** */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav.navbar {
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%);
    padding: 0px 32px;
    display: flex;
    align-items: center;
}
nav.navbar img{
    width: 96px;
}
div#home {
    width: 100%;
    height: 100%;
}
.home-img {
    display: flex;
    padding: 32px 72px;
    width: 100%;
    flex-wrap: wrap;
}
.div-img {
    display: flex;
    padding: 8px;
    flex-basis: 20%;
}
.div-img.single {
    align-items: center;
}
.div-img.up, 
.div-img.down {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
img.one {
    height: 148px;
}
img.two {
    height: 188px;
}
.div-img img {
    width: 100%;
    border-radius: 8px;
    margin: 8px 0;
}

.home-content {
    padding: 0 36px;
}
.home-content h1 {
    font-size: 40px;
}

.home-content p {
    color: #222222;
    font-size: 16px;
}

/* **************** start main section **************** */
main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31.3333%;
    margin: 24px 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.img-card {
    position: relative;
}

.img-card button{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 72px;
    height: 24px;
    outline: none;
    border: none;
    color: #222222;
    background: #fff;
    font-size: 11px;
    border-radius: 4px;
}
.card img {
    height: 350px;
    border-radius: 8px;
}

.rating i {
    color: #FE395C
}
.rating span.num{
    font-size: 18px;
    color: #222222;
    padding: 0px 4px;
}
.rating .rate {
    color: #918E9B;
    font-size: 18px;
}

.card-content p {
    font-size: 18px;
    color: #222222;
    padding: 0px 4px;
}

.salary {
    font-size: 18px;
    font-weight: bold;
}

.salary span {
    font-weight: 100;
}